:root {
    --mainColorOne: #D91C1C;
    --mainColorOneLight: #EC7B7B;
    --mainColorOneDark: #8D0909;
    --mainColorTwo: #118282;
    --mainColorTwoLight: #64C1C1;
    --mainColorTwoDark: #055555;
    --mainColorThree: #90CB1A;
    --mainColorThreeLight: #C0E577;
    --mainColorThreeDark: #5B8408;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main:last-of-type {
    margin-bottom: 3rem;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}


#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr {
    margin: 0;
}

.a-colorUnset {
    color: unset;
    text-decoration: none;
}

header {
    z-index: 1;
    position: fixed;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    pointer-events: none;
}

.headerLink {
    text-decoration: none;
    color: rgb(200, 200, 200);
    padding: 0 16px;
}

.text-preWrap {
    white-space: pre-wrap;
}

header button {
    background-repeat: no-repeat;
    background-size: 71%;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border: unset;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.256);
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 3vh;
    position: relative;
    pointer-events: auto;
    z-index: 1;
}

.offcanvas {
    background-color: #2a2e33;
}

.offcanvas hr {
    color: white;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
}

.offcanvas-body a {
    padding-bottom: 2vh;
}



.line {
    height: 280px;
    background-size: cover;
    background-image: url(../assets/img/lineImage.png);
    border-bottom: 8px solid var(--mainColorTwoLight);
    overflow: hidden;
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.line:hover::before {
    opacity: 1;
}

.line div {
    position: relative;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.line div h1 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.line div p {
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 28px;
    width: 30%;
}




.CustomButton {
    padding: 6px 20px;
    border-radius: 12px;
    border: unset;
    color: white;

}

.CustomButtonDisabled {
    opacity: 0.5
}

.CustomButtonDisabled:hover {
    cursor: not-allowed;
}

.CustomButtonBlue {
    background-color: var(--mainColorTwo);
}

.CustomButtonBlue:hover {
    background-color: var(--mainColorTwoDark);
}

.CustomButtonGreen {
    background-color: var(--mainColorThree);
}

.CustomButtonGreen:hover {
    background-color: var(--mainColorThreeDark);
}

.CustomButtonRed {
    background-color: var(--mainColorOne);
}

.CustomButtonRed:hover {
    background-color: var(--mainColorOneDark);
}

footer {
    margin-top: auto;
    min-height: 10vh;
    background: #2a2a2a;
    display: flex;
    align-items: center;
    color: rgb(249, 249, 249);
}

h2 {
    font-size: 44px;
}

h6 {
    font-size: 22px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}


/*  */
.WelcomeHomeComponents {
    background-color: rgb(231, 255, 219);
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('img/welcomimg.jpg');
}

.WelcomeHomeComponents button {
    display: block;
    margin: 0 auto;
    margin-bottom: 16vh;
}

/*  */

/*  */
.carouselHome {
    text-align: left;
}

.carouselHome .active {
    display: flex;
    justify-content: space-around;
}

.carouselHome .carousel-control-next,
.carouselHome .carousel-control-prev {
    width: 3%;
}

.carouselHome .card-img {
    width: 100%;
    height: 100%;
    max-height: 280px;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 4px #d3d3d383;
    transition: all 0.1s linear;
    border-radius: 0%;
}

.carouselHome .card-body {
    flex-direction: column;
    display: flex;
    align-items: baseline;
}

.carouselHome .card {
    width: 20rem;
    border: 4px solid #d3d3d383;
    border-radius: 0;
    transition: all 0.1s linear;
}

.carouselHome .card:hover .card-img {
    box-shadow: 0px 0px 0px 4px var(--mainColorTwo);
}

.carouselHome .card:hover {
    border: 4px solid var(--mainColorTwo);
}



/* ImageLineHomeComponents */
.ImageLineHomeComponents {
    height: 18vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: relative;
    border-bottom: 8px solid var(--mainColorOne);
}

.ImageLineHomeComponents::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.652);
}

/*  */
.AboutUsHomeComponents p {
    text-align: justify;
    line-height: 2;
}

/* heroesOrItemsPage */
.heroesOrItemsPage .carouselHome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2vh;
}

/* .IdeasPage */
.ButtonsListIdeas {
    display: flex;
    align-items: center;
}

.ButtonsListIdeas button {
    margin-left: 1rem;
}

/* alert */
.alert {
    bottom: 7rem;
    left: 3rem;
    z-index: 1050;
    position: fixed;
}

/* listIdeas */
.searchIdeas {
    display: flex;
}

.searchIdeas .form-select {
    max-width: 20%;
}

.searchIdeas button {
    margin-left: 1vh;
}

/* targetIdea */
.targetIdea span {
    color: rgb(109, 109, 109);
    font-size: 12px;
}

/* formCreateIdea */
.formCreateIdea {
    padding: 3vh 0;
    background-color: #1987540c;
}

/* aboutUsSotial */
.aboutUsSotialFlexBox {
    display: flex;
    justify-content: space-between;
}

.aboutUsSotialFlexBox div a svg {
    height: 9vh;
}

.aboutUsSotialFlexBox div {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutUsSotialFlexBox div a {
    letter-spacing: 1.3px;
    font-size: 20px;
    margin-bottom: 2vh;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, red, blue, rgb(222, 222, 222)) 1;
    animation: border-animation 3s infinite linear;
}

.aboutUsSotialFlexBox div a svg {
    margin-right: 2vw;
}

@keyframes border-animation {
    0% {
        border-image: linear-gradient(to right, blue, var(--mainColorTwoLight), rgb(222, 222, 222)) 1;
    }

    33% {
        border-image: linear-gradient(to right, rgb(222, 222, 222), blue, var(--mainColorTwoLight)) 1;
    }

    66% {
        border-image: linear-gradient(to right, var(--mainColorTwoLight), rgb(222, 222, 222), blue) 1;
    }

    100% {
        border-image: linear-gradient(to right, blue, var(--mainColorTwoLight), rgb(222, 222, 222)) 1;
    }
}

.aboutUsWelcom {
    background-color: rgb(219, 243, 255);
    display: flex;
    flex-direction: column-reverse;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-image: url('img/aboutUsPage.jpg');
    position: relative;
}

.aboutUsWelcom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.5));
}

.aboutUsWelcom div {
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
}

.aboutUsWelcom div p {
    padding: 2vh 0;
}

.aboutUsWelcom button {
    z-index: 100;
    display: block;
    margin: 0 auto;
    /* margin-bottom: 16vh; */
}